@import 'vars';
@import "mixins";


.filter-sort {
    position: relative;
    @include flexFull;
    justify-content: normal;
    align-items: normal;
    @include fontStyle (14px, 600);
    gap: 385px;
    padding: 51px 0 64px 0;
}


.description-sorting-menu-filter {
    width: 360px;
    position: absolute;
    z-index: 5;
    box-sizing: border-box;
    padding: 13px 16px 16px;
    top: 39px;


    &[open] {
        background: #FFF;
        box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
    }

    &[open] .filter_heading {
        color: $mainColor;
    }

    &[open] path {
        fill: $mainColor;
    }
}

.filter_head {
    padding: 8px 11px 11px 11px;
    border-bottom: 1px solid #EBEBEB;
    border-left: 5px solid $mainColor;
}

.filter_item {
    margin-top: 16px;

    &[open] .filter_head {
        color: $mainColor;
    }
}


.filter_link-box {
    display: flex;
    flex-direction: column;
    gap: 11px;
    padding: 24px 16px;
}

.filter_link {
    @include fontStyle (14px, 400, $mainTextColor);
}

.section_bottom {
    margin: 0;
}

.roll_menu {
    @include flexFull;

}

.right_left_slider {
    width: 263px;
    height: 43px;
    border: 1px solid #EBEBEB;
    margin: 48px 0 96px;
    @include flexFull;
}