@import 'vars';
@import "mixins";


ul {
    list-style: none;
}

.topmenu {
    margin-bottom: 0;
}

.submenu {
    background: white;
    list-style-type: none;
    position: absolute;
    right: 0px;
    max-width: 232px;
    margin-top: 26px;
    z-index: 3;
    padding: 32px;
    transform: scaleY(0);
    transform-origin: 0 0;
    transition: .5s ease-in-out;
    box-shadow: 0 0 30px rgba(0, 0, 0, .2);
}

.menu-main-title {
    @include fontStyle (14px, 700);
    padding-bottom: 4px;
}

.menu-title {
    @include fontStyle (14px, $mainTextColor: $mainColor);
    padding: 20px 0 1px 0;
}

.menu-links {
    padding: 11px 0 0 21px;
    @include fontStyle (14px);

}


.submenu a {
    color: black;
}

.topmenu>li:hover .submenu {
    transform: scaleY(1);
}

.menu:hover .menu-icon {
    fill: $mainColor;
}


.submenu a {
    color: black;
}

.topmenu>li:hover .submenu {
    transform: scaleY(1);
}

.menu:hover .menu-icon {
    fill: $mainColor;
}