$mainColor: #F16D7F;
$headColor: #F8F3F4;
$mainTextColor: #6F6E6E;
$pictureBoxBackground: #F7F7F7;
$bodyBackground: white;
$bodyWidth: padding 0 calc(50vw - 570px);
$descriptionTitleTextColor: #4D4D4D;
$headTitleColor: #222224;
$footerTextColor: #FBFBFB;
$brandColor: #F1E4E6;