* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}

img {
    max-width: 100%;
}

.center {
    padding: 0 calc(50vw - 570px);
}

.center_top {
    padding: 0 calc(50vw - 800px);
}

p {
    font-style: normal;
    line-height: normal;
}

/* -------------------------------------- */

.title {
    background: #222222;
    
}

.title_menu {
    min-height: 75px;
    background: #222222;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left_menu {
    display: flex;
    align-items: baseline;
    gap: 41px;
}

.right_menu {
    display: flex;
    gap: 30px;
    align-items: baseline;
}


/* --------------------------------------- */

.brand_info {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.brand {
    background-color: #F1E4E6;
    display: flex;    
}

.brand_left {
    width: 50%;
    display: flex;
    align-items: center;
}

.brand_right {
    width: 50%;
    display: flex;
    gap:16px;
}

.box_red_line {
    display: flex;
    align-items: center;
    padding-left: 63px;
}

.main_text {
    font-size: 48px;
    font-weight: 900;
}

.bottom_text {
    font-size: 32px;
    font-weight: 700;
}

.text_red {
    color: #F16D7F;
    font-size: 32px;
    font-weight: 700;
}

/* -------------------------------- */

.choice {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;  
    margin: 65px 0 96px 0;
}

.choice_items {
    display: grid;
    justify-items: center;
    align-items: center;
}

.big {
    grid-column: span 3;
    display: grid;
    justify-items: center;
    align-content: baseline;
    align-items: center;
}

.text_upper, .text_upper_big {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
}

.big_block {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-content: baseline;
    align-items: center;
}

.offer_red {
    color: #F16D7F;
    font-size: 24px;
    font-weight: 700;    
}

/* ------------------------------------------------------ */


.goods_title {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.product_box_heading {
    font-size: 30px;
    font-weight: 400;
}

.product_box_text {
    color: #9F9F9F;
    font-size: 14px;
    font-weight: 400;
}

.section_bottom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    justify-content: center;
    margin: 48px 0 63px 0;
}

.items_up {
    display: grid;
    transition: 0.3s;
}

.items_up:hover {
    transform: scale(1.04);
}

.items_about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    background-color: #F8F8F8;
    padding: 24px 30px 24px 16px; 
}

.items_name {
    font-size: 13px;
    font-weight: 400;
}

.items_description {
    width: 314px;
    color: #5D5D5D;
    font-size: 14px;
    font-weight: 300;

}

.items_price {
    color: #F16D7F;
    font-size: 16px;
    font-weight: 400;
}

/* ------------------------- */

.browse {
    display: flex;
    justify-content: center;
    margin-bottom: 74px;
}

.browse_body {
    border: 1px solid #FF6A6A ; 
}

.browse_text {
    display: inline-flex;
    align-items: flex-start;
    color: #FF6A6A; 
    padding: 15px 39px;
}

.browse_text:hover {
    background-color: #F1E4E6;
    padding: 15px 39px;
    color: black;
    
}

.items_scr:hover {
    /* background-image: ; */
}


/* ----------------media 1 --------------- */


@media only screen and (min-width: 768px) and (max-width: 1024px)  {

.center {
    padding: 0 calc(50vw - 367px);
}

.center_top {
    padding: 0 calc(50vw - 386px);
}

.board {
    padding: 0 16px;
}

.title {
    min-height: 74px;    
}

.choice {
    gap:19px;
    margin: 64px 0 110px 0;
}

.section_bottom{
    grid-template-columns: repeat(2, 2fr);
    gap:16px;
    margin: 72px 0 32px 0;
}

.items_up {
    display: flex;
    flex-direction: column;
}

.items_about {
    gap: 13px;
    padding: 24px 29px 20px 16px;
}

.browse {
    margin-bottom: 70px;
}

.box_red_line {
    padding-left: 39px;
}

.main_text {
    font-size: 44px;
}

.bottom_text, .text_red {
    font-size: 24px;
}

}


/* -----------------media2------------- */

@media only screen and (min-width: 320px) and (max-width: 767px)  {

.center {
    padding: 0 calc(50vw - 171.5px);
}
    
.center_top {
    padding: 0 calc(50vw - 187.5px);
}


.icons, .brand_left, .text_upper_big {
    display: none;
}

.brand {
   min-height: 383px;
}

.brand_right {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.box_red_line {
    padding-left: 0;
}

.main_text {
    font-size: 38px;
}

.bottom_text, .text_red {
    font-size: 20px;
}

.choice {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 32px;  
    margin: 64px 0;
}

.big {
    grid-column: span 1;
    display: grid;
    justify-items: center;
    align-content: baseline;
    align-items: center;
}

.section_bottom{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
    justify-content: center;
}

}
    